{# app/Resources/views/Emails/registration.html.twig #}
<h3>Se ha realizado un nuevo registro de reserva con el indentificador {{id}}</h3>

La Reserva realizada contiene lo siguiente:
<p> {{contenido}} </p>
<p> Por un monto total de: $ {{precio}} pesos chilenos</p>

